@charset "utf-8";
@import "_mixin.scss";

$c1: #58b530;
$c2: #ea5413;
$c3: #f6de17;
$c4: #d70051;
$c5: #56c3f1;
$c6: #ffe446;
$c7: #e4007f;

$base_font_color: #444;
$link_color: #21759b;

$google-color: #C53727;
$facebook-color: #3B5998;
$twitter-color: #00aced;
$line-color: #5ae628;
$instagram-color: #3f729b;
$tumblr-color: #34526f;